<article>
    <header>{{ player.name }}</header>
    <section>Деньги: {{ player.money }}</section>
    <section>
    {% for card in player.arCards %}
        {{ include('card.html.twig') }}
    {% endfor %}
    </section>
</article>